.container {
  display: flex;
  flex-direction: column;
}

// This is a container intended to be used in each section to maintain spacing and width consistency
.section-container {
  margin: 0 auto;
  max-width: 1000px;

  @media (max-width: 1024px) {
    margin: 6rem 2rem;
  }

  @media (max-width: 768px) {
    margin: 4rem 4rem;
  }

  @media (max-width: 640px) {
    margin: 0 0;
  }
}
