@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media (max-width: 36em) {
      @content;
    } // 576px
  }

  @if $breakpoint == tab-port {
    @media (max-width: 48em) {
      @content;
    } // 768px
  }

  @if $breakpoint == tab-land {
    @media (max-width: 72em) {
      @content;
    } // 992px
  }

  @if $breakpoint == big-desktop {
    @media (min-width: 112.5em) {
      @content;
    } // 1800px
  }
}
