.services {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: var(--color-grey-light-1);
    padding: 2rem 0;

    @include respond(tab-land) {
        justify-content: center;
    }

    &__card {
        // width: 28.5rem;
        // min-width: 26.5rem;
        max-width: 300px;
        margin: 2rem;
        // margin: 5rem 1rem;
        padding: 2.5rem 2rem;
        background-color: #fff;
        border-top: 8px solid var(--color-pink);
        box-shadow: 0 10px 25px var(--color-grey-light-3);
        display: flex;
        flex-direction: column;
        align-items: center;
        color: var(--color-grey-dark-3);

        &--icon {
            margin-bottom: var(--spacing-medium);

            svg {
                fill: var(--color-grey-dark-3);
                height: var(--font-largest);
            }
        }

        &--header {
            margin-bottom: var(--spacing-medium);
            font-size: var(--font-small);
        }

        &--text {
            font-size: var(--font-smaller);
            line-height: var(--line-height-small);
        }
    }
}