.skills {
    background-color: var(--color-grey-light-1);
    justify-content: space-evenly;
    font-size: var(--font-medium);

    @include respond(phone) {
        padding: 0 0;
    }

    &__container {
        display: flex;
        background-color: #fff;
        box-shadow: 0 10px 25px var(--color-grey-light-3);
        padding: var(--spacing-large);

        @include respond(tab-land) {
            flex-direction: column;
        }

        @include respond(tab-port) {
            padding: var(--spacing-small);
        }
    }

    &__left {
        display: flex;
        align-items: center;
        padding: var(--spacing-large);

        @include respond(tab-land) {
            margin-right: 0;
        }

        &--text {
            color: var(--color-grey-dark-3);
            font-weight: 300;
            line-height: 2.2rem;

            @include respond(phone) {
                line-height: var(--line-height-medium);
            }
        }
    }

    &__right {
        display: flex;
        align-items: center;
        padding: var(--spacing-large);

        @include respond(tab-land) {
            margin-left: 0;
        }
    }


    &__grid {
        display: flex;
        flex-wrap: wrap;

        &--item {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: var(--spacing-medium);
            margin: var(--spacing-small);
            border-radius: 5px;
            color: var(--color-grey-dark-2);

            &:nth-of-type(3n+1) {
                background-color: var(--color-pink-transparent);
            }

            &:nth-of-type(3n+2) {
                background-color: var(--color-blue-transparent);
            }

            &:nth-of-type(3n+3) {
                background-color: var(--color-green-transparent);
            }
        }

        &--logo {
            max-height: var(--font-large);
            max-width: var(--font-large);
            margin-right: 1rem;
        }
    }
}