:root {
    --font-default: 'Muli', sans-serif;
    --font-secondary: 'Merriweather', serif;

    // 1 rem = 10px
    --text-xs: 1.2rem;
    --text-sm: 1.4rem;
    --text-base: 1.6rem;
    --text-lg: 1.8rem;
    --text-xl: 2rem;
    --text-2xl: 2.4rem;
    --text-3xl: 3rem;
    --text-4xl: 3.6rem;
    --text-5xl: 4.8rem;
    --text-6xl: 6rem;
    --text-7xl: 7.2rem;

    --color-grey-light-1: #f5f7fa;
    --color-grey-light-2: #e4e7eb;
    --color-grey-light-3: #cbd2d9;
    --color-grey-light-4: #9aa5b1;
    --color-grey-light-5: #7b8794;

    --color-grey-dark-1: #1f2933;
    --color-grey-dark-2: #323f4b;
    --color-grey-dark-3: #3e4c59;
    --color-grey-dark-4: #52606d;
    --color-grey-dark-5: #616e7c;

    --text-muted: var(--color-grey-dark-5);

    --color-pink: #f58b8b;
    --color-pink-dark: rgb(209, 47, 74);
    --color-pink-transparent: hsla(0, 84%, 75%, 0.8);

    --color-blue: #5ed0fa;
    --color-blue-dark: rgb(18, 128, 191);
    --color-blue-transparent: hsla(196, 94%, 67%, 0.8);

    --color-green: #81be72;
    --color-green-dark: #79a36f;
    --color-green-transparent: hsla(108, 37%, 60%, 0.8);

    --sp-0: 0;
    --sp-1: 0.4rem;
    --sp-2: 0.8rem;
    --sp-3: 1.2rem;
    --sp-4: 1.6rem;
    --sp-5: 2.4rem;
    --sp-6: 3.2rem;
    --sp-7: 4.8rem;
    --sp-8: 9.6rem;
    --sp-9: 12.8rem;
    --sp-10: 19.2rem;
    --sp-11: 25.6rem;
    --sp-12: 38.4rem;
    --sp-13: 51.2rem;
    --sp-14: 64rem;
    --sp-15: 76.8rem;

    --line-height-small: 1.4rem;
    --line-height-smaller: 1.8rem;
    --line-height-medium: 2.8rem;
    --line-height-large: 5.8rem;
}
