@import 'normalize.css';
@import 'mixins';
@import 'layouts';
@import 'utilities';
@import 'header';
@import 'services';
@import 'modals';
@import 'variables';
@import 'values';
@import 'mobile-nav';

*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; // 1 rem = 10px
}

body {
    font-family: var(--font-default);
    font-weight: 300;
    font-size: var(--text-base);
    line-height: var(--line-height-medium);
}

ul {
    list-style-type: none;
}

img {
    border: 1px solid var(--color-grey-light-3);
    max-width: 100%;
}

a {
    color: var(--color-grey-dark-2);
    text-decoration: none;

    &::visited {
        color: var(--color-grey-light-2);
    }
}

::selection {
    color: var(--color-pink);
    background-color: var(--color-grey-dark-2);
}
