@import 'normalize.css';
@import '_layouts';
@import '_variables';

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: var(--font-default);
  font-size: var(--text-base);
  line-height: var(--line-height-medium);
  background-color: var(--color-grey-dark-1);
  color: var(--color-grey-light-1);
}

ul {
  list-style-type: none;
}

img {
  border: 1px solid var(--color-grey-light-3);
  max-width: 100%;
}

a {
  color: var(--color-grey-dark-2);
  text-decoration: none;

  &::visited {
    color: var(--color-grey-light-2);
  }
}

p a {
  color: var(--color-blue);
}

.social-link img {
  border: none !important;
}

.section-header {
  margin-bottom: var(--sp-5);
  font-size: var(--text-lg);
  text-align: center;
}

@media (max-width: 576px) {
  .section-header {
    margin-bottom: var(--sp-3);
  }
}
